body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 30px 0;
    background-color: #4CAF50;
    color: white;
}

.main-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.nav-menu {
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #0f3003;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-menu a:hover {
    font-weight: 600;
}

.form-section {
    text-align: center;
    padding: 20px 0;
}

form {
    display: inline-block;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #1f5e22;
}

.calc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
}

.calculator input {
    margin: 10px 0;
    padding: 10px;
    width: 160px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calculator button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #1f5e22;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}